---
import Datetime from "./Datetime.astro";
import type { BlogFrontmatter } from "@content/_schemas";

export interface Props {
  href?: string;
  frontmatter: BlogFrontmatter;
  secHeading?: boolean;
}

const { href, frontmatter, secHeading = true } = Astro.props;
---

<li>
  <a
    href={href}
    class="text-skin-gray inline-block text-lg underline-offset-4 transition hover:opacity-50 hover:duration-200 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      frontmatter.image && (
        <picture>
          <source srcset={`${frontmatter.image}.jpg`} type="image/jpg" />
          <img
            class="duration-0 w-full rounded-2xl drop-shadow-lg"
            loading="lazy"
            src={`${frontmatter.image}.jpg`}
          />
        </picture>
      )
    }
    {
      secHeading ? (
        <h2 class="mt-3 text-lg font-bold">{frontmatter.title}</h2>
      ) : (
        <h3 class="mt-3 text-lg font-bold">{frontmatter.title}</h3>
      )
    }
    <Datetime datetime={frontmatter.pubDatetime} />
  </a>
</li>
